@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('./fonts/YanoneKaffeesatz.ttf') format('truetype');
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis.ttf') format('truetype');
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #4caf50;
}

#root {
  background: #191919;
  color: #fff;
  min-height: 100%;
  min-width: 100%;
}
