.App-nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  float: right;
  transition:
    all 0.3s ease-in-out 0s,
    visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.App-navLink {
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}

.App-navLink:active,
.App-navLink:hover {
  color: #4caf50;
}

.App-navLink > svg {
  padding-right: 5px;
}

@media (max-width: 960px) {
  .App-nav {
    align-items: stretch;
    background: #212121;
    border: 1px solid #414141;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .App-nav.mobile-open {
    display: flex;
  }
}
